node_modules
dist/
.wrangler/
.turbo/
styled-system/
playwright-report/
test-results/
.lighthouseci/
lighthouse-reports/
packages/*/src/**/*.d.ts
packages/*/src/**/*.d.ts.map
.env
.env.*
!.env.example
.dev.vars
logs/
*.log
.DS_Store
.idea/
.vscode/*
!.vscode/launch.json
!.vscode/*.code-snippets
